h1{
    width: auto;
    height: auto;
    margin: 0;
    font-size: 280%;
    padding-bottom: 20px;
    text-align: center;
}

#kintai{
    text-align: center;
}

button{
    height: 100px;
    width: 40%;
    font-size: 200%;
    margin: 5px;
    border-radius:10px;
}

form{
    background-color: lightpink;
    margin: auto auto;
    padding: 50px 0;
}